<template name="AdminPosts">
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th>Title</th>
                    <th>Body</th>
                    <th>Post Body</th>
                    <th>Created At</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each posts}}
                    <tr class="row">
                        <td>{{Title}}</td>
                        <td>{{Body}}</td>
                        <td>{{{PostBody}}}</td>
                        <td>{{CreatedAt}}</td>
                        <td>
                            <button class="btn btn-primary" id="editPost">Edit</button>
                            <button class="btn btn-danger" id="deletePost">Delete</button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>
