<template name="AdminPanel">
    <div class="col-sm-12">

        <!-- Sidebar -->
        <div class="col-xs-3 text-left">
            <ul class="list-group">
                <a href="/admin/posts"><li class="list-group-item btn btn-default">Manage Posts</li></a>
                <a href="/admin/createpost"><li class="list-group-item btn btn-default">Create Post</li></a>
                <a href="/admin/users"><li class="list-group-item btn btn-default">Manage Users</li></a>
            </ul>
        </div>

        <!-- Admin Overview -->
        <div class="col-xs-9 text-center">
            <h2 class="text-capitalize">Blog Overview</h2>
            <p>Blog posts: {{nposts}}</p>
            <p>Registered users:</p>
            <p>Page views:</p>
        </div>

    </div>
</template>
